{% extends 'layout.html' %}
{% block content %}



<html>
<head>
<style>
body {
  background-color: skyblue;
}
</style>
</head>
<body>

<h1>About Us</h1>

<h3>Hello everyone! we are strictly a JDM sport car importing shipping business. 
We will introduce you to our team agents in the NZ office and work together to get all the information you need for your imported JDM such as the specs of the vehicle, auction grade explanation, condition sheets and detailed photos of the vehicles interior and exterior with the accident/repair history Also total cost of 
vehivle. export and shipping cost below.</h3>



</h2>Our basic package is $1500 NZD + GST (this is the price for cars under 20 cbm). Our private package is 1750 NZD + GST this allows the delivey out of the metropolitan areas.</h2>

{% endblock %}
