{% extends 'layout.html' %}
{% block content %}

<h1 style="color:green";>add movie</h1>

{% for movie in movies %}
    <p>{{ movie.id }}{{ movie.title }}{{ movie.year }}
    <form action="/delete_movie" method="post">
    <input type="hidden" value="{{movie.id}}" name="movie_id">
    <input type="submit" value="Delete">
    </form></p>
{% endfor %}
</br>
<h3>Add a new Movie</h3>
movie title | movie year
<form action="/add_movie" method="post">
<input type="text" name="Movie title">
<input type="text" name="Year">
<input type="submit" value="add">
</form>

{% endblock %}